.link {
  height: 100%;
  display: block;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  align-content: center;
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
  @media (min-width: $mantine-breakpoint-md) {
    padding: 8px 12px;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    padding: 8px 24px;
  }
}

.link[data-registration='true'] {
  background-image: linear-gradient(
    to right,
    var(--mantine-color-cyan-3),
    var(--mantine-color-blue-6)
  );
  color: transparent;
  background-clip: text;
  font-weight: 600;
  @mixin hover {
    background-image: none;
    background-clip: initial;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    background-color: darken(var(--mantine-color-blue-7), 0.6);
  }
}

.linkLabel {
  margin-right: 5px;
}
