.link {
  height: 100%;
  display: block;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4)) !important;
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  align-content: center;
  @mixin hover {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    background-color: darken(var(--mantine-color-noir-6), 0.6);
  }
  @media (min-width: $mantine-breakpoint-md) {
    padding: 8px 12px;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    padding: 8px 24px;
  }
}

.link[data-registration='true'] {
  background-image: linear-gradient(to right, #ffecb3, #cfc6a9);
  color: transparent !important;
  background-clip: text;
  font-weight: 600;
  @mixin hover {
    background: linear-gradient(
      to top,
      darken(var(--mantine-color-blue-7), 0.6),
      darken(var(--mantine-color-blue-3), 0.6)
    );
    background-size: 400% 400%;
    animation: gradientAnimation 0.7s ease infinite;
    background-clip: initial;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)) !important;

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 80%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.linkLabel {
  margin-right: 5px;
}

.menuItem {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)) !important;
  @mixin hover {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0)) !important;
    background-color: var(--mantine-color-gray-9);
  }
}
