.hero {
  position: relative;
  width: 100%;
  background-image: url('/banner_wide.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: var(--mantine-spacing-xl);
}
