.hero {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url('/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: var(--mantine-spacing-xl);
}
