.wrapper {
  display: flex;
  align-items: stretch;
  padding: calc(var(--mantine-spacing-xl) * 2);
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-noir-9));

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    padding: var(--mantine-spacing-xl);
  }
}

.body {
  flex: 2;
  @media (max-width: $mantine-breakpoint-md) {
    padding-right: 0;
    margin-top: var(--mantine-spacing-xl);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  margin-bottom: var(--mantine-spacing-xl);
}

.subTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-gray-5));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  margin-bottom: var(--mantine-spacing-xl);
}

.mediaComponent {
  margin-left: var(--mantine-spacing-xl);
  flex: 1;
  position: relative;
  @media (max-width: $mantine-breakpoint-md) {
    margin-left: 0;
    margin-top: var(--mantine-spacing-xl);
    width: 100%;
  }
}

.mediaComponent iframe {
  border-radius: var(--mantine-radius-sm);
  width: 100%;
  min-height: 300px;
}
